.navbar-default{class: "main_nav"}
  .container-fluid
    .col-lg-4
      %table{class: "table-responsive table-menu"}
        %tbody
          %tr
            %td= link_to "Home", {:controller => :homes, :action => :show}, class: "btn btn-link"
            %td= link_to "Lectures", lectures_path, class: "btn btn-link"
            %td= link_to "Teachers", teachers_path, class: "btn btn-link"
            %td= link_to "Announcements", announcements_path, class: "btn btn-link"
.container-fluid{class: "dashboard"}
  .col-lg-2{class: "actions"}
  .col-lg-4{class: "users"}
    .container-fluid{class: "user"}
      - @users.each do |u|
        %table{class: "table-responsive table-users"}
          %tbody
            %tr
              %td= u.email
              %td= link_to 'Destroy', u, :method => :delete, :data => { :confirm => 'Are you sure?' }
  .col-lg-3
    .container-fluid{class: "teachers"}
  .col-lg-3
    .container-fluid{class: "lectures"}