.col-lg-2{class: "actions"}
  %table{class: "userstab table-responsive"}
    %tbody
      %tr
        %td= link_to 'New User', new_user_path, class: "btn btn-link"
      %tr
        %td= link_to 'New Teacher', new_teacher_path, class: "btn btn-link"
      %tr
        %td= link_to 'New Announcement', new_announcement_path, class: "btn btn-link"
      %tr
        %td= link_to 'New Lecture', new_lecture_path, class: "btn btn-link"
      %tr
        %td= link_to 'New Article', new_article_path, class: "btn btn-link"
.col-lg-4{class: "users"}
  .container-fluid{class: "user"}
    - @users.last(10).each do |u|
      .user-actions
        %table{class: "table-responsive table-users"}
          %tbody
            %tr
              %td
                = image_tag u.avatar, class: "img-circle user-av"
                = u.name
                = u.second_name
            %tr
              %td{class: "actonuser"}
                = link_to 'Destroy', u, :method => :delete, :data => { :confirm => 'Are you sure?' }, class: "btn btn-link"
                = link_to 'Edit', edit_user_path(u), class: "btn btn-link"
                = link_to 'Show', u, class: "btn btn-link"
.col-lg-3
  .container-fluid{class: "teachers"}
    - @teachers.last(10).each do |t|
      .teacher-actions
        %table{class: "table-responsive table-teachers"}
          %tbody
            %tr
              %td
                = t.id
                = t.name
            %tr
              %td{class: "actonuser"}
                = link_to 'Destroy', t, :method => :delete, :data => { :confirm => 'Are you sure?' }, class: "btn btn-link"
                = link_to 'Edit', edit_teacher_path(t), class: "btn btn-link"
                = link_to 'Show', t, class: "btn btn-link"
.col-lg-3
  .container-fluid{class: "lectures"}