.container-fluid{ class: "lecturecoverphoto"}
  .navbar-brand
    .container-fluid
      .list-inline
        = @lecture.name
  = image_tag @lecture.coverphoto, class: "coverimage"
  .navbar-brand
    .container-fluid
      .list-inline
.container-fluid
  %p= "Announcements:"
  - @ann_content.each do |s|
    .announce
      %p= raw s.title
      %p= raw s.content
.col-lg-5

