.container{class: "content_show_home"}
  .col-lg-3
    .jumbotron{class: "infotable"}
      %table{class:"table-hover table-responsive lecture_table"}
        %thead
          %tr
            %th= "Subject:"
            %th= "Teacher:"
        %tbody
          %tr
            %td= @lecture.name
            %td= @lecture.teacher.name
  .col-lg-6
    .container-fluid
      %p= "Announcements:"
      - @ann_content.each do |s|
        .announce
          %p= raw s.title
          %p= raw s.content
  .col-lg-5

