%h1 Listing articles

%table
  %thead
    %tr
      %th Title
      %th Content
      %th Lecture
      %th
      %th
      %th

  %tbody
    - @articles.each do |article|
      %tr
        %td= article.title
        %td= article.content
        %td= article.lecture_id
        %td= link_to 'Show', article
        %td= link_to 'Edit', edit_article_path(article)
        %td= link_to 'Destroy', article, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br
.jumbotron
  - @users.each do |u|
    %table
      %tbody
        %tr
          %td= u.id
          %td= u.email
        %tr{class:"thumbnail"}
          %td= image_tag u.avatar
          %td= link_to "delete", user_registration_path, :method => :delete
= link_to 'New Article', new_article_path
