.navbar-default{class: "nav_main"}
  .col-md-6
    - if current_user.admin?
      %ul{class:"list"}
        %li= link_to 'New Lecture', new_lecture_path, class: "btn btn-success btn-md"
        %li= link_to 'New Teacher', new_teacher_path, class: "btn btn-success"
        %li= link_to 'New Announcement', new_announcement_path, class: "btn btn-success"
  .col-md-6
    %ul{class:"list"}
      - if user_signed_in?
        %li= button_to('Logout', destroy_user_session_path, :method => :delete, class: "btn btn-danger")
      - else
        %li= button_to 'Log In', new_user_session_path, class: "btn btn-danger"
.container-fluid{class: "content_show_home"}
  .row
    .col-lg-6
      .container-fluid{class: "listing"}
        - @lectures.each do |lecture|
          .list_lect
            %table{class:"table-hover table-responsive table-bordered tablestyle"}
              %tbody
                %tr
                  %td= link_to lecture.name, lecture, :action => :show, class: "btn btn-link"
    .col-lg-6
      .navbar-default{class: "admin-nav"}
        %table{class:"table-admin"}
          %tbody
            %tr
              %td= link_to 'New Lecture', new_lecture_path, class: "btn btn-link"
              %td= link_to 'New Teacher', new_teacher_path, class: "btn btn-link"
              %td= link_to 'New Announcement', new_announcement_path, class: "btn btn-link"
            %tr
              %td= link_to 'Edit Lectures', lectures_path, class: "btn btn-link"
              %td= link_to 'Edit Announcements', announcements_path, class: "btn btn-link"
              %td= link_to 'Edit Teachers', teachers_path, class: "btn btn-link"
      - @announcements.each do |anno|
        .list_announcement
          %table{class:"table-hover table-responsive table-announcement"}
            %tbody
              %tr
                %td= link_to anno.title, anno, :action => :show, class: "btn btn-link"
              %tr
                %td= truncate(anno.content, :length => 140)
              %tr
                %td= anno.lecture.name
%br

= link_to 'New Lecture', new_lecture_path
= link_to 'New Teacher', new_teacher_path
= link_to 'New Announcement', new_announcement_path
= link_to('Logout', destroy_user_session_path, :method => :delete)
= link_to 'Log In', new_user_session_path