%html
  %body
    .navbar-default{class: "main_nav"}
      .container-fluid
        .col-lg-4
          %table{class: "table-responsive table-menu"}
            %tbody
              %tr
                %td= link_to "Lectures", lectures_path, class: "btn btn-link"
                %td= link_to "Teachers", teachers_path, class: "btn btn-link"
                %td= link_to "Announcements", announcements_path, class: "btn btn-link"
        .col-lg-4
        .col-lg-3
        .col-lg-1
          .container-fluid{class: "session"}
            = link_to('Log Out', destroy_user_session_path, :method => :delete, class:"btn btn-link log_out")
    .container-fluid{class: "content_show_home"}
      .row
        .col-lg-6
          .container-fluid{class: "listing"}
            - @lectures.each do |lecture|
              .list_lect
                %table{class:"table-hover table-responsive tablestyle"}
                  %tbody
                    %tr
                      %td= link_to lecture.name, lecture, :action => :show, class: "btn btn-link"
                      %td{class: "ann_count"}
                        .count-wrap{class: "btn btn-primary"}
                          .count{class: "badge"}
                            = lecture.ann_count
        .col-lg-6
          - if current_user.admin?
            .navbar-default{class: "admin-nav"}
              %table{class:"table-admin"}
                %tbody
                  %tr
                    %td= link_to 'New Lecture', new_lecture_path, class: "btn btn-link"
                    %td= link_to 'New Teacher', new_teacher_path, class: "btn btn-link"
                    %td= link_to 'New Announcement', new_announcement_path, class: "btn btn-link"
                  %tr
                    %td= link_to 'Edit Lectures', lectures_path, class: "btn btn-link"
                    %td= link_to 'Edit Announcements', announcements_path, class: "btn btn-link"
                    %td= link_to 'Edit Teachers', teachers_path, class: "btn btn-link"
          .container-fluid
            = search_form_for @q do |f|
              =f.search_field :name_start, class: "form-control", placeholder: "Search"
            %iframe{:width => "100%", :height => "auto", :src => @vidid, class: "video-embed"}
        .col-lg-12
          .container-fluid{class: "feed"}
            - @announcements.last(3).each  do |anno|
              .list_announcement
                = image_tag anno.annphoto, class:"thumb"
                %table{class:"table-hover table-responsive table-announcement"}
                  %tbody
                    %tr
                      %td= link_to anno.title, anno, :action => :show, class: "btn btn-link"
                    %tr
                      %td= truncate(anno.content, :length => 140)
                    %tr
                      %td= anno.lecture.name
    .container-fluid{class:"footer"}