%html
  %body
    .container-fluid{class: "content_show_home"}
      .row
        .col-lg-6
          .container-fluid{class: "listing"}
            = search_form_for @q do |f|
              =f.search_field :name_start, class: "form-control", placeholder: "Search"
            - @lectures.each do |lecture|
              .list_lect
                %table{class:"table-hover table-responsive tablestyle"}
                  %tbody
                    %tr
                      %td= link_to lecture.name, lecture, :action => :show, class: "btn btn-link"
                      %td{class: "ann_count"}
                        .count-wrap{class: "btn btn-primary btn-count"}
                          .count{class: "badge"}
                            = lecture.ann_count
        .col-lg-6
          .container-fluid{class: "rightsidebar-home"}
            .embed-responsive{class: "embed-responsive-16by9"}
              %iframe{:src => @vidid, class: "embed-responsive-item"}
        .col-lg-12
          .container-fluid{class: "heading"}
            %p LATEST ANNOUNCEMENTS
          .container-fluid{class: "feed"}
            - @announcements.last(3).each  do |anno|
              .list_announcement
                = image_tag anno.annphoto, class:"thumb"
                %table{class:"table-hover table-responsive table-announcement"}
                  %tbody
                    %tr
                      %td= link_to anno.title, anno, :action => :show, class: "btn btn-link"
                    %tr
                      %td= anno.lecture.name
          .container-fluid{class: "heading"}
            %p NEW TEACHERS
          .container-fluid{class: "teachers-feed"}
            - @teachers.last(3).each  do |tchr|
              .list_teachers
                .container-fluid{class: "tcoverhome", :style => %(background:url("#{tchr.tcover.url(:thumb)}") no-repeat center; background-size: 100% auto)}
                  = image_tag tchr.tavatar.url(:thumb), class: "img-circle img-circle-size center-block"
                  = link_to tchr.name, tchr, :action => :show, class: "btn btn-lg btn-link btn-teacher-name"
