%html
  %body
    .container-fluid{class: "content_show_home"}
      .row
        .col-lg-6
          .container-fluid{class: "listing"}
            - @lectures.each do |lecture|
              .list_lect
                %table{class:"table-hover table-responsive tablestyle"}
                  %tbody
                    %tr
                      %td= link_to lecture.name, lecture, :action => :show, class: "btn btn-link"
                      %td{class: "ann_count"}
                        .count-wrap{class: "btn btn-primary"}
                          .count{class: "badge"}
                            = lecture.ann_count
        .col-lg-6
          .container-fluid
            = search_form_for @q do |f|
              =f.search_field :name_start, class: "form-control", placeholder: "Search"
            %iframe{:width => "100%", :height => "auto", :src => @vidid, class: "video-embed", :frameBorder => "0"}
        .col-lg-12
          .container-fluid{class: "heading"}
            .progress-bar-danger
            %h2="Latest Announcements"
          .container-fluid{class: "feed"}
            - @announcements.last(3).each  do |anno|
              .list_announcement
                = image_tag anno.annphoto, class:"thumb"
                %table{class:"table-hover table-responsive table-announcement"}
                  %tbody
                    %tr
                      %td= link_to anno.title, anno, :action => :show, class: "btn btn-link"
                    %tr
                      %td= anno.lecture.name