%h1 Listing teachers

%table
  %thead
    %tr
      %th Name
      %th Id
      %th Lecture name
      %th Degree
      %th
      %th
      %th

  %tbody
    - @teachers.each do |teacher|
      %tr
        %td= teacher.name
        %td= teacher.id
        %td= teacher.degree
        %td= link_to 'Show', teacher
        %td= link_to 'Edit', edit_teacher_path(teacher)
        %td= link_to 'Destroy', teacher, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Teacher', new_teacher_path
