%p#notice= notice

%p
  %b Name:
  = @teacher.name
%p
  %b Lecture name:
  - @teacher_lecture.each do |s|
    = s.name

%p
  %b Degree:
  = @teacher.degree
  = image_tag @teacher.tcover.url(:thumb)

= link_to 'Edit', edit_teacher_path(@teacher)
\|
= link_to 'Back', teachers_path
