= simple_form_for @user, url: new_user_path(@user) do |f|
  = f.error_notification

  .form-inputs
    = f.input :email, required: true, autofocus: true
    = f.input :password, required: true
    = f.input :password_confirmation, required: true

  .form-actions
    = f.button :submit