%html
  %head
    %title=Moodle
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags
  %body
    = yield
    .container-fluid{class:"footer"}
      .container-fluid{class: "copyright"}
        .pull-left
          %p= "2015 Copyright by yurayar"

